/* animations */
@keyframes Gradani {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
/* end of animations */
/* general classes */
.grad {
  animation: Gradani 10s linear infinite;
  background: linear-gradient(
    90deg,
    rgba(1, 110, 55, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(1, 110, 55, 1) 100%
  );
  background-size: 200%;
  padding-bottom: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* end of general classes */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
body {
  background-color: #313131;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main {
  width: fit-content;
  height: fit-content;
  border-radius: 7px;
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(0, 72, 36, 1) 26%,
    rgba(0, 123, 62, 1) 37%,
    rgba(0, 255, 128, 1) 88%
  );
}
.search {
  width: 4vw;
  display: flex;
  align-items: center;
  position: relative;
}
.search i {
  color: rgba(0, 72, 36, 1);
}

input {
  color: rgba(0, 255, 128, 1);
  opacity: 0;
  width: inherit;
  outline: none;
  border: none;
  margin-left: 10px;
  background-color: transparent;
}
.error,
.weather {
  height: 45vh;
  width: 80vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.weather {
  justify-content: start;
}
.status,
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 70%;
  height: 100%;
  width: 100%;
}
.status img {
  width: 40%;
  margin-bottom: 5px;
}
.details {
  flex-basis: 30%;
  display: grid;
  padding: 5px;
  width: 100%;
  justify-items: center;
  height: fit-content;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 5px;
}
.detail {
  background-color: rgba(0, 0, 0, 0.604);
  width: 100%;
  height: 5vh;
  color: rgba(0, 255, 128, 1);
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-right: 3px;
  justify-content: start;
}
.detail p {
  font-family: "Roboto", sans-serif;
  width: fit-content;
  width: 100%;
  font-size: 14px;
}
.details i {
  height: 28px;
  width: 20%;
  color: rgba(0, 255, 128, 1);
  margin: 0 5px 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}
.status h1 {
  font-size: 28px;
  margin-bottom: 5px;
}
.h2 {
  margin-bottom: 10px;
}
span {
  margin-left: 5px;
}
h1 {
  font-size: 105px;
}
